@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import "variables.less";

body, html {
  font-family: "Lato", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }
}

header {
  background: #3c3f42;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 2;

  .inner-wrapper {
    padding: 20px;
    margin: 0 auto;
  }

  .name {
    float: left;
    color: white;
    font-size: 28px;
    text-decoration: none;
    position: relative;
    top: -8px;
  }

  .contact-icons {
    float: right;
    a {
      color: white;
      font-size: 20px;
      margin-left: 15px;

      .fa-envelope {
        font-size: 22px;
      }

    }
  }


  nav {
    margin: 0 auto;
    // text-align: center;
    padding-left: 210px;
    position: relative;
    top: -5px;

    a {
      color: white;
      border: none;
      // font-weight: bold;
      text-decoration: none;
      opacity: .5;
      font-size: 14px;
      margin: 0 10px;

      &.selected {
        opacity: 1;
        padding: 4px 0;
        border-bottom: solid 1px white;
      }

      &:hover:not(.selected) {
        padding: 5px 0;
        border-bottom: solid 2px rgba(255,255,255,.5);
      }

    }
  }


}

.story {
  margin: 0 0 40px 0;
  text-align: center;


  .photo-wrapper {
    display: inline-block;
    margin: 5px;

    &:hover:not(.story-description) {
      cursor: pointer;
      opacity: .85;
    }

    img {
    }


  }

  .story-description {
    // min-width: 180px;
    display: inline-block;
    vertical-align: top;
    width: 200px;


    h1 {
      font-weight: normal;
      font-size: 18px;
      padding: 0;
      margin: 0 0 10px 0;
      font-style: italic;
      position: relative;
      top: -3px;
    }

    p {
      font-size: 14px;
      color: rgba(0,0,0,.6);
      margin: 0 0 15px 0;
      line-height: 20px;
    }
  }

  .landscape {
    flex: 2.25;
  }
}

.popup-viewer {
  display: none;
  position: fixed;
  top: 59px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 25px;
  background: rgba(255,255,255,1);
  // height: ~"calc(100% - 59px)";
  z-index: 999999;
  transition: opacity .3s ease-out;
  opacity: 1;

  &.close {
    opacity: 0;
  }

  .next-photo, .previous-photo {
    position: absolute;
    background: #3c3f42;
    top: ~"calc(50% - 30px)";
    width: 35px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    background-image: ~"url(images/chevron.svg)";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;

    &:hover {
      background-color: rgba(60,63,66,.8);
    }
  }

  .next-photo {
    right: -55px;
    transform: rotate(180deg);
  }

  .previous-photo {
    left: -55px;
  }

  .close-popup {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0px;
    right: -4px;
    background-image: ~"url(images/x.svg)";
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  .inner-wrapper {
    width: 1024px;
    margin: 0 auto;
    position: relative;
  }

  h1 {
    margin: 0 0 15px 0;
    font-style: italic;
    font-size: 22px;
    font-weight: normal;
  }

  .story-description {
    width: 200px;
    float: left;
  }

  .image-wrapper {
    float: right;
    text-align: center;
    width: ~"calc(100% - 200px)";

    .image {
      display: inline-block;
      position: relative;
      width: 650px;
    }

    .image-flex {
      display: flex;
      width: 100%;
      margin: 0 auto;
      height: 600px;

      justify-content: center;
      align-items: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
    }

    .progress {

      padding: 10px 0;

      .dot {
        background: #3c3f42;;
        height: 8px;
        width: 8px;
        opacity: .3;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;

        &.current {
          opacity: .8;
        }
      }
    }
  }

}

.site-wrapper {
  overflow: auto;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  padding: 90px 0 50px 0;
}

@media only screen and (max-width: 700px) {

  .site-wrapper {
    padding: 130px 0 50px 0;
  }

  header {
    .name {
     // font-size: 24px;
    }
  }

  header nav {
    padding-left: 0px;
    padding-top: 5px;
    clear: both;
    text-align: left;

    a:first-child {
      margin-left: 0;
    }
  }
}
